{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "localStorage": true,
    "navigator": true
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "semi": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "comma-dangle": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-use-before-define": ["error", { "functions": false }]
  }
}
